.header {
  background: #fff;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.sitenav {
  &__item:hover a {
    transition: 0.3s;
    color: #30c88f;
  }
}
