.btn {
  display: inline-block;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  padding: 0.8rem 3.6rem 0.8rem 3.3rem;
  @include font(1.4rem, 2.8rem, 500, $white-color);
}
.btn:hover {
  background: linear-gradient(135deg, #2ab6d9 0%, #33d35e 58%);
}
.header__btn {
  @include responsive(tablet) {
    display: none ;
  }
}
